{% load static %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT - Raiot</title>
    <link rel="stylesheet" href="{% static 'tasks/nes.min.css' %}">
  </head>
  <body>
    <div id="necss">
      <header class=""><div class="container"><div class="nav-brand"><a href="https://github.com/Anankke/SSPanel-Uim"><h1>STAFF</h1></a><p>©&nbsp;2015 orvice</p></div></div></header>
      <div class="container">
        <main class="main-content">
          <section class="topic">
            <h2>
              <a href="#">#</a>
              MIT许可证
            </h2>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>